.container-card {
  display: flex;
  margin: 5%; /* Create 5% gap between header and card */
  width: 500px; /* Fixed width */
  height: 200px; /* Adjust height as needed */
  background-color: #fff; /* White background */
  border: 1px solid #ccc;
}
